
@{
    ViewBag.Title = "Wynik";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Wynik</h2>
<h3>@ViewBag.wynik / @ViewBag.max</h3>
<h2>Ocena</h2>
<h3>@ViewBag.ocena</h3>
@Html.ActionLink("Powrót", "Przedmioty", new { id = Session["UserID"] })


